.theme-dark {
  .nav {
    background: #272727;
  }

  .inpField {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    background-color: #272727;
  }

  .inpField:focus {
    color: hsla(0, 0%, 100%, 1);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    background-color: #272727;
    width: 40%;
    text-align: center;
    outline: none;
  }

  * {
    color: hsla(0, 0%, 100%, 1);
  }
  .moviecard {
    box-sizing: border-box;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    border: #303030;
    margin: 10px 10px;
    padding: 10px 15px;
    text-align: center;
  }
  .moviecard {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  }
  background: hsl(0, 0%, 7%);
  min-height: 100%;
}

html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
